USE [master]
GO
/****** Object:  Database [LoginDAI]    Script Date: 8/9/2023 10:42:27 ******/

ALTER DATABASE [LoginDAI] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginDAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginDAI]
GO
/****** Object:  User [alumno]    Script Date: 8/9/2023 10:42:27 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin]    Script Date: 8/9/2023 10:42:27 ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/9/2023 10:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contraseña], [Nombre], [Apellido], [Mail], [FechaNacimiento]) VALUES (1, N'matiii', N'1234', N'Matias', N'Zalcman', NULL, NULL)
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contraseña], [Nombre], [Apellido], [Mail], [FechaNacimiento]) VALUES (2, N'bryang', N'5678', N'Bryan', N'Gitman', N'brygitman@gmail.com', CAST(N'2005-07-02' AS Date))
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contraseña], [Nombre], [Apellido], [Mail], [FechaNacimiento]) VALUES (3, N'pepito', N'9012', N'Pepe', N'Rodriguez', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
