USE [master]
GO
/****** Object:  Database [LoginDAI]    Script Date: 18/8/2023 11:20:08 ******/
CREATE DATABASE [LoginDAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginDAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LoginDAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginDAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LoginDAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginDAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginDAI]
GO
/****** Object:  User [alumno]    Script Date: 18/8/2023 11:20:08 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin]    Script Date: 18/8/2023 11:20:08 ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Admin]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/8/2023 11:20:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contraseña]) VALUES (1, N'Matias', N'1234')
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contraseña]) VALUES (2, N'Bryan', N'5678')
INSERT [dbo].[Usuario] ([Id], [NombreUsuario], [Contraseña]) VALUES (3, N'Pepe', N'9012')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
